# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build/

# Ignore IDE files
.idea/
*.iml
*.ipr
*.iws

# Ignore Twitter credentials
twitter4j.properties
